# ***02 OPERATOR IN PYTHON***

---------

#### 1. ***Arithematic Operator***

* **Operator** is the special symbol that perform the **operation on operands**.

* **Operand** are value or the variable which opertion applied

#### ***List of Arithemetic Operations:***



1. **Addition & Unary (+)**

2. **Subtraction & Unary (-)**

3. **Multiplication (*)**

4. **Division (/)**

5. **Floor Division (//)**

6. **Modulus (%)**

7. **Power (**)**

* ***ADDITION AND UNARY PLUS OPERATOR***

In [ ]:
num1 = 30
num2 = 10

print(num2 + num1)

In [ ]:
str1 = "hello "
str2 = "world !!"

print(str1 + str2)

In [ ]:
# UNARY OPERATOR

num = +7
print(num)

*  ***SUBTRACTION AND UNARY MINUS OPERATOR***

In [ ]:
num1 = 12
num2 = 34

print(num1 - num2)

In [ ]:
num1 = 7.6
num2 = 8.9
print(num1 - num2)
print(round(num1 - num2))

In [ ]:
result = (10 + 5) - (7 + 5)
print(result)

In [ ]:
# Unary Minus

num = 10
result = -num
print(result)

In [ ]:
x = 12 
y = -7
z = x + y
print(z)

* ***Multiplication***

In [ ]:
num1 = 6
num2 = 10
print(num1 * num2)

In [ ]:
# Expression 
result = ( 3 + 5) * (5 - 3)
print(result)

* ***Division(Remainder)***

In [ ]:
num1 = 34
num2 = 4
print(num1 / num2)

In [ ]:
num1 = 14
num2 = 2
print(num1 / num2)

* ***Floor Divisor(Divisor)***

In [ ]:
num1 = 10
num2 = 2
result = num1 / num2
print(result)

In [ ]:
# SPEACIAL CASES:

num1 = 10
result = num / 0
print(result)

In [ ]:
# Negative floor Divisor

num1 = -10
num2 = 3
result = num1 // num2 # truckate
print(result)

### ***Precedence and Associativity of Arithmetic Operator***

| Operator | Precedence | Associativity |
|----------|------------|---------------|
| `()`     | Highest    | Left-to-right |
| `**`     | High       | Right-to-left |
| `*`, `/`, `+`, `-` | Medium   | Left-to-right |
| `==`, `!=`, `>`, `<` | Lower    | Left-to-right |
| `and`, `or` | Low      | Left-to-right |

In [3]:
# Precendence (high pirority)
2 + 6 * 4

(2 + 6 ) * 4

32

In [4]:
# Associate

2 + 5 - 1 # left to right evalution

# exponent

2 ** 3 ** 4 # right to left

2417851639229258349412352

-----

### 2. ***Comparison (Relational) Operators***

| Operator | Description                |
|----------|----------------------------|
| `==`     | Equal to                   |
| `!=`     | Not equal to               |
| `>`      | Greater than               |
| `<`      | Less than                  |
| `>=`     | Greater than or equal to   |
| `<=`     | Less than or equal to      |

In [5]:
# EQUAL TO 
x = 10
y = 20

print(x == y)

False

In [6]:
# NOT EQUAL TO

x = 10
y = -100

print(x != y)

True

In [9]:
# LESSER THAN
x = 10
y = 40
print( x > y)

# GREATER THAN OR EQUAL
x = 5
y = 10
print(x >= y)

False
False

-----

### ***3. Logical Operator***

| Operator | Description       | Example                             | Result |
|----------|-------------------|-------------------------------------|--------|
| `and`    | Logical AND       | `True and False`                    | `False`|
| `or`     | Logical OR        | `True or False`                     | `True` |
| `not`    | Logical NOT       | `not True`                          | `False`|

In [17]:
age =  1
has_subscription = True
password = "correct"

if age >= 18:
    eligible_age = True
else:
    eligible_age = False

has_value_subscription  = has_subscription

is_password = (password == "correct")

if eligible_age and has_value_subscription and is_password:
    print("Access Granted")
else:
    print("Access Denied")

# incorrect password
password = "incorrect"
if eligible_age and has_value_subscription and is_password:
    print("access Granted")
else:
    print("Not granted")

Access Denied
Not granted

In [19]:
# not and or

stored_name = "Anu"
stored_password = "pass123"

#userinput
input_username = "An"
password_user = "pass123"

if not (input_username == stored_name and stored_password == password_user):
    print("Denied wrong password username")

else:
    print("accessed !! Welcome")

Denied wrong password username

-----

### ***4.Assignment Operator***

| Operator | Description                | Example   |
|----------|----------------------------|-----------|
| `=`      | Assign value               | `x = 5`   |
| `+=`     | Add and assign             | `x += 3`  |
| `-=`     | Subtract and assign        | `x -= 2`  |
| `*=`     | Multiply and assign        | `x *= 2`  |
| `/=`     | Divide and assign          | `x /= 3`  |
| `//=`    | Floor divide and assign    | `x //= 4` |
| `%=`     | Modulus and assign         | `x %= 5`  |
| `**=`    | Exponentiate and assign    | `x **= 2` |

In [20]:
# Asssign value
balance = 1000
print("Initial Balance : " , balance)

# Deposit amount +=
deposit_amount = 500
balance +=  deposit_amount
print("The total amount after deposit is : ", balance)

#Withdraw the amount
withdraw_amount = 500
balance -= withdraw_amount
print("After withdraw , the total balance : ", balance) 

# Apply interest
interset_rate = 1.06
balance *= interset_rate
print("After the interest rate balance : ", balance)

#monthly fee
monthly_fee = 30
balance -= monthly_fee
print("After monthly fee balance: ", balance)

#simple floor division
balance //= 2
print("After the floor division : ", balance)

# modulus
balance %= 100
print("After the modulus : ", balance)

#power or exponent
balance **= 2
print("After the exponent: ", balance)

Initial Balance :  1000
The total amount after deposit is :  1500
After withdraw , the total balance :  1000
After the interest rate balance :  1060.0
After monthly fee balance:  1030.0
After the floor division :  515.0
After the modulus :  15.0
After the exponent:  225.0

---------

### 5. ***Bitwise Operators***

Works on bits or binary number and we first convert into the binary bytes eg. 5 to 0101

| Operator | Description          | Example     | Result (x = 5, y = 3) |
|----------|----------------------|-------------|-----------------------|
| `&`      | Bitwise AND          | `x & y`     | `1`                   |
|  "1"      | Bitwise OR           | `x 1 y`     | `7`                   |
| `^`      | Bitwise XOR          | `x ^ y`     | `6`                   |
| `~`      | Bitwise NOT          | `~x`        | `-6`                  |
| `<<`     | Left shift           | `x << 1`    | `10`                  |
| `>>`     | Right shift          | `x >> 1`    | `2`                   |

In [25]:
a , b = 5, 4
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 2)
print(a >> 2)

4
5
1
-6
20
1

----------


## 6. ***Identity Operators***

- `is` : Identity test (checks if two variables refer to the same object)
- `is not` : Identity test (checks if two variables do not refer to the same object)

In [33]:
a = [5, 7, 8, 9]
b = a
c = [5, 7, 8, 9]

print(a is b) # points the same object
print(a is not c) #points different object false

# False because a and c are different objects, despite having the same values
print(a is  c)

print( b is not c)

True
True
False
True

### 7. ***Membership Operators***

- `in` : Checks if a value is present in a sequence (list, tuple, etc.)
- `not in` : Checks if a value is not present in a sequence

In [34]:
list1 = [4, 6, 7, 9]
for i in range(len(list1)):
    print(i)

0
1
2
3

In [39]:
fruits = ["apple", "mongo", "cherry"]
for fruit in fruits:
    if fruit not in ["mongo", "cherry"]:
        print(fruit)

apple

In [35]:
text = "Hello world"

print("Hello" in text) #true or false

True

-------

### 8. ***Ternary (Conditional) Operator***

- `x if condition else y` : Conditional expression (if the condition is True, return `x`; otherwise, return `y`)

- value_if_true if condition else value_if_false

In [41]:
age = 18

status = "Adult" if age >= 18 else "Minor"

print(status)

Adult

In [43]:
age = 10

status = "Adult" if age >= 18 else "Teenager" if age >= 13 else "Child"

print(status)

Child

----