
#### 1.ARMSTRONG NUMBER
-------------------------------------------------------------------------
NUMBER OF DIGITS = SUM OF NTH POWERS OF ITS DIGITS

* 22 = > 
NUMBER OD DIGIT = > N = 2 DIGIT
N TH POWER OF THR DIGIT => 2 POW 2 =4
                           2 POW 2 = 4
                           4 + 4 = 8 
                    8 IS ANSWER SO 22 IS NOT THE NUMBER

* 153 = > N = 3
        1 POW 3 = 2
        5 POW 3 = 125
        3 POW 3 = 27
SUM OF NTH POWERS OF ITS DIGIT = > 2 + 125 + 27 = 153 
ITS AN AMSTRONG NUMBER

In [ ]:

for number in range(500):
    lenght = len(str(number))

    temp = number
    digit_sum = 0

    while temp > 0:
        digit = temp % 10
        digit_sum += digit ** lenght
        temp = temp // 10

        if digit_sum == number:
            print(f"{number} is an Armstrong number")
        else:
            print(f"{number} is not an Armstrong number")

#### 2 PRINTING NUMBERS IN RIGHT TRIANGLE SHAPE

In [ ]:
n = 7
for i in range (1, n+1): # i is the row value 
    for j in range (1, i+1):
        print(j, end = " ")
    print() # new line

In [ ]:
#same number
n = 9
for i in range (1, n+1):
    for j in range(1, i+1):
        print(i, end="  ")
    print()

#### 3. PRINTING STAR IN THE HALLOW PATTERN

In [ ]:
n = 10
for row in range(n): # range is from 0 to n
    for col in range(n):
        if col == 0 or row == (n-1) or row == col:
           print("*", end="")
        else:
            print(end = " ")
    print()

In [ ]:
for row in range(7):
    for col in range (7):
        if col == 0 or row == 6 or row == col:
            print("*", end = "")
        else:
            print(end = " ")
    print()

In [ ]:
n = 10 
for row in range (n):
    for col in range(n):
        if col == 0 or row == (n - 1) or row == col:
            print("#", end="")
        else:
            print(end = " ")
    print()

#### 5. FACTORIAL PROGRAM
* factorial of non - negative integer n, denoted by n! is the product of all positve integer less than or equal to n

In [ ]:
# IN BULIT FUNCTION ( FACTORIAL METHOD)
import math
n = 4
result = math.factorial(n)
print("factorial of", n , "is", result)

In [3]:
# RECURSIVE METHOD => FUNCTION CALLS ITSELF IS CALLED 
# RECURSIVE FUNCTION
# ---------------------------------------
# 1. BASE CASE => n = 0
# 2. RECURSIVE CASE => n(n-1)!
# --------------------------------------

def factorial(n):
    if n == 0:
        return 1
    else: # greater than zero
        return n * factorial(n-1)

n = 4
result = factorial(n)
print("Factorial of", n, "is", result)
# factorial(3)

Factorial of 4 is 24

In [ ]:
# USING THE LOOP

n = 5
result = 1
for i in range (n, 0, -1):# start end step(4, 3, 2, 1)
    result = result * i

print("factorial of ", n, "is", result)

#### 8.PRINTING STARS IN HOLLOW RIGHT TRIANGLE SHAPE

In [ ]:
n= 5
for row in range (n):
    for col in range(n):
        if row == 0 or  col == n - 1 or col == row:
            print("*", end=" ")
        else:
            print(end="  ")
    print()

#### 9. FLOYDS TRIANGLE

In [ ]:
n = 10
num = 1
for row in range(1, n + 1):
    for col in range(1, row + 1):
        print(num, end=" ")
        num = num + 1
    print()

In [ ]:
number = 6
for row in range(1, number+1):
    for col in range(1, row+1):
        print("@", end=" ")
    print()

In [ ]:
n = 5
for row in range(1, n):
    for col in range(1, n):
        if  row == 1 or  col == 1 or col == row:
            print("#", end=" ")
        else:
            print(end="  ")
    print()

In [ ]:
# (0,0) (0,1) (0,2) (0,3) (0,4)
# (1,0) (1,1) (1,2) (1,3) (1,4)
# (2,0) (2,1) (2,2) (2,3) (2,4)
# (3,0) (3,1) (3,2) (3,3) (3,4)
# (4,0) (4,1) (4,2) (4,3) (4,4)
n = 5
for row in range(1, n):
    for col in range(1, n):
        if  row == 1 or  col == n-1 or col+row == n-1:
            print("#", end=" ")
        else:
            print(end="  ")
    print()

In [2]:
n = 10
for row in range(n):
    for col in range(n):
        if col == 0 or col==n-1 or row == n - 1 or row == 0 or row == col or row + col == n-1 or row == 5:
            print("#", end=" ")
        else:
            print(" ", end=" ")
    print()

# # # # # # # # # #
# #             # #
#   #         #   #
#     #     #     #
#       # #       #
# # # # # # # # # #
#     #     #     #
#   #         #   #
# #             # #
# # # # # # # # # #

#### 10.  PYTHON PATTERN

In [3]:
string = "PYTHON"
lenght = len(string)
print(lenght)
for row in range(lenght):
    for col in range(row + 1):
        print(string[col], end= "")
    print()

6
P
PY
PYT
PYTH
PYTHO
PYTHON

In [ ]:
name = "ANUHSAGANESHAN"
lenght = len(name)
print(lenght)
for row in range(lenght):
    for col in range(row+1):
        print(name[col], end="")
    print()

11. FIBONACCI NUMBERS

In [ ]:
n = 10
first = 0
second = 1
for i in range(n):
    print(first)
    temp = first # 0
    first = second # 1
    second = temp + second # 0 + 1 = 1

12. RESERVE PATTERN

In [17]:
n = 6
for row in range(n, 0, -1):
    for col in range(1, row+1):
        print(row, end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [26]:
n = 4
for row in range(n, 0, -1):
    for col in range(0, row):
        print(col, end=" ")
    print()

0 1 2 3
0 1 2
0 1
0

13. PRIME NUMBERS
* NATURAL NUMBER GT 1 HAS NO POSITIVE DIVISOR OTHER THAN 1 AND ITSELF
* 1 IS NOT A PRIME NUMBER ,ITs UNIT DIGIT

In [ ]:
lower = 5
upper = 90
for num in range(lower, upper+1):
    # print(num , end=" ")
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, "is the prime number")
            print()

In [ ]:
for num  in range(10):
    if(num > 1):
        for i in range(2, num):
            if (num % i)  == 0:
                break
        else:
            print(num, "i as a prime number")

15. EQUILATERAL TRIANGLE SHAPE STARS

In [32]:
for row in range(1, 5):
    for col in range(1 , 8):
        if row == 4 or col+row == 5 or col - row == 3:
            print("*", end=" ")
        else:
            print(end="  ")
    print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
# PERFECT HALLOW SHAPE
n = 10
k = 2
for row in range(1, n+1):
    for col in range(1, 2 * n):
        if(col + row == n + 1 or col - row == n-1):
            print("*", end=" ")
        elif row == n and col!= k:
            print("*", end =" ")
            k = k + 2
        else:
            print(end="  ")
    print()

16. PERFECT NUMBERS
* perfect number rae positive integer that is equal to the sum of its positive divisors excluding the number itself
* 6 => 1, 2, 3, 6 remainder are 0 
* 1 + 2 + 3 = 6 is the perfect number

In [ ]:
num = 6
sum = 0
for i in range(1, num):
    if (num % i ) == 0 :
        sum =  sum + i
        # print(sum)
if sum == num:
        print(num, "is the perfect number")
else:
     print(num , " is not the perfect number")

In [ ]:
# SPECIFIC INTERVAL
lower = 1
upper = 10
for num in range (lower, upper+1):
    sum = 0
    for i in range(1, num):
        if(num % i )== 0:
            sum = sum + i
    if(num == sum):
        print(num," is the perfect number")

    # else part doesnt add because we need to continue the program

6  is the perfect number

18 SWAPPIN NUMBER(WITHOUT 3RD VAR)

In [ ]:
a = 10
b = 5
print("Before Swapping")
print(a, b)
temp = a
a = b
b = temp
print("After swapping: ")
print(a, b)

In [101]:
# without 3 rd variable
a = 1
b = 5
print("Before swapping", a , b)
a = a + b
b = a - b
a = a-b
print("After swapping", a , b)

Before swapping 1 5
After swapping 5 1

19.RIGHT ANGLE STAR SHAPE(using While loop)

In [ ]:
num = 5
row = 0 #initalization
while row < num :
    star = row + 1
    while star > 0 :
        print("*", end="")
        star = star - 1 # (decreement)
    row = row + 1 #increement
    print()

*
**
***
****
*****

In [114]:
num = 5
row = 0
while row < num:
    col = row + 1
    while col > 0:
        print("*", end =" ")
        col = col - 1
    row = row + 1
    print()

*
* *
* * *
* * * *
* * * * *

20. PRYAMID SHAPE STAR (WHILE LOOP)

In [112]:
num = 5
row = 0
while row < num:
    space = num - row - 1
    while space > 0:
        print(end =" ")
        space = space - 1
    star = row + 1
    while star > 0:
        print("*", end= " ")
        star = star - 1
    row = row + 1
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [123]:
num = 3
row = 0
while row < num:
    space = num - row - 1
    while space > 0:
        print(end = " ")
        space = space - 1
    star = row + 1
    while star > 0:
        print("*", end =" ")
        star = star - 1
    row = row + 1
    print()

  *
 * *
* * *

21 . HOLLOW DAIMOND SHAPE STAR(FOR LOOP)

In [151]:
# n = 5
for row in range(5):
    for col in range(5):
        if row + col == 2 or col - row == 2 or row - col == 2 or row + col == 6:
            print("*", end ="")
        else:
            print(end =" ")
    print()

  *
 * *
*   *
 * *
  *

22.REVERSE THE STRING USING FOR LOOP

In [4]:
def reverse(string): #fn definition
    reversed_string = ""
    for i in string:
        reversed_string = i + reversed_string
    print("Reserved string:" , reversed_string)
    print("original string", string)

reverse("helloteddy")

Reserved string: yddetolleh
original string helloteddy

23. PRINTING NUMBERS IN SQUARE SHAPE

In [ ]:
num = 5 #
n_list = [[0 for x in range (num)]  for y in range(num)]
n = 1
low = 0 # 0
high = num - 1 # 4 (n-1)


count = int((num + 1)/ 2)
for i in range (count):
    for j in range(low , high+1):
        n_list[i][j] = n
        n = n + 1

    for j in range(low + 1, high + 1):
        n_list[j][high] = n
        n = n + 1

    for j in range (high - 1, low-1, -1):
        n_list[high][j] = n
        n = n + 1
    
    for j in range(high-1, low, -1):
        n_list[j][low] = n
        n = n + 1

    low = low + 1
    high = high - 1


for i in range(num):
    for j in range(num):
        print(n_list[i][j], end="\t")
    print()

1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	23	22	21	8
13	12	11	10	9

24. GCD  or HCM- (GREATES COMMON DIVISOR)

In [36]:
# ECULID'S ALGORITHM

def computeGCD(x, y):
    smaller = 0
    if(x < y):
        smaller = x
    else:
        smaller = y

    gcd = 0
    for i in range(1, smaller + 1):
        if( x % i == 0) and (y % i == 0):
            gcd = i
    return gcd

    
number1 = 8
number2 = 13
print("The gcf of two number {} and {} is {}".format(number1, number2, computeGCD(number1, number2)))

The gcf of two number 8 and 13 is 1

25. NUMBERS IN PYRAMID SHAPE

In [28]:
num = 10 #
for i in range (1, num + 1):
    for j in range(1, num -i + 1):
        print(format(" ", "<4"), end="")
    for j in range(i, 0, - 1):
        print(format(j, "<4"), end="")
    for j in range(2, i + 1):
        print(format(j, "<4"), end="")
    print()

                                    1
                                2   1   2
                            3   2   1   2   3
                        4   3   2   1   2   3   4
                    5   4   3   2   1   2   3   4   5
                6   5   4   3   2   1   2   3   4   5   6
            7   6   5   4   3   2   1   2   3   4   5   6   7
        8   7   6   5   4   3   2   1   2   3   4   5   6   7   8
    9   8   7   6   5   4   3   2   1   2   3   4   5   6   7   8   9
10  9   8   7   6   5   4   3   2   1   2   3   4   5   6   7   8   9   10

In [40]:
num = 5
n = 1
for i in range(num):
    for j in range (num -i - 1):
        print(format(" ", "<3"), end="")
    for i in range(i + 1):
        print(format(n, "<6"), end= "")
        n = n + 1
    print()

            1
         2     3
      4     5     6
   7     8     9     10
11    12    13    14    15

---------------------------
26. FORMAT FUNCTION

In [21]:
num = 5
n=1
for i in range(1,num+1):
    for j in range(1, i+1):
        print(format(n,"< 7"),end = "")
        n = n + 1

    print()

 1
 2      3
 4      5      6
 7      8      9      10
 11     12     13     14     15

---------------------------------
27. WHAT IS THE OUTPUT SERIES

In [ ]:
#27.EXAMPLE 
# ---------------------
x = [] # empty is false / none/ list / tuple/false
if x :
    print(x, True)
else:
    print(x, False)

# 28 EXAMPLE
# -----------------
p = (1, 10) # tuple value
q = 0
r = []
if p or q and r:
    print("True")
else:
    print("False")

#29 EXAMPLE
# ---------------------
list1 = ["abc", "123"] #2element
list = []
for i in list1:
    list.append(i)
print(list)

['abc', '123']

30. SELECTION SORT ALGORITHM
* SORT  => BUILT IN LIST MENTHOD
* SORTED => BUILT IN FUNCTION

#### find minimum:

5 15 3 12 17 0 index 0 to 5
minimum num => in 0 th index (swap)

#### find max
5 15 3 12 17 0 index 0 to 5
maximum num => in 0 th index (swap)

In [62]:
list1 = [56, 3, 2, 79, 6, 0]
print(list1)

# methos 1 min method
for i in range (len(list1)):
    min_val = min(list1[i:])
    # swapping
    min_index = list1.index(min_val)
    list1[i],list1[min_index] = list1[min_index], list1[i]
    
print(list1)

[56, 3, 2, 79, 6, 0]
[0, 2, 3, 6, 56, 79]