-----------

## 01. PRIMARY KEY

**PRIMARY KEY IS UNQUIE IDENDIFIER THAT SHOULD HAVE UNQIUE VALUE AND NOT NULL ONE EACH TABLE SHOULD HAVE ONE PRIMARY KEY**

```SQL
-------AFTER CREATION ----------
ALTER TABLE TRANSACTION
ADD CONSTRAINT 
PRIMARY KEY(TRANSACTION_ID)

SELECT * FROM TRANSACTION

-----------WHILE CREATION-----------

CREATE TABLE TRANSACTION(
	TRANSACTION_ID INT PRIMARY KEY,
    AMOUNT DECIMAL(5,2)
);

SELECT * FROM TRANSACTION

-------PRIMARY KEY -----

INSERT INTO TRANSACTION
VALUES(101, 33.34),
	(102, 45.67),
    (103, 65.90);

SELECT * FROM TRANSACTION

----------------------UNQIUE AND NOT NULL----------------------
NOTE : MANUAL CORRECTION ERROR


INSERT INTO TRANSACTION
VALUES(101, 32.34),
VALUES(NULL, 32.34),

SELECT * FROM TRANSACTION


----------SELECT THE DATA---------

SELECT AMOUNT FROM TRANSACTION
WHERE TRANSACTION_ID = 101;

--------------

## 02. AUTO-INCREMENT ATTTRIBUTE

```sql

CREATE TABLE transaction(
	transaction_id int primary key auto_increment,
    amount decimal(5, 2)
);

select * from transaction



-------------INSERT------------

INSERT INTO transaction(amount)
VALUES(3.90), (5.7), (7.8);

SELECT * FROM transaction

-----------ALTER AUTO_INCREMENT-------

ALTER TABLE transaction
AUTO_INCREMENT = 1001

SELECT * FROM TRANSACTION

--------AFTER INSERTING DATA WILL HAVE 1001-------

INSERT INTO transaction(AMOUNT)
VALUES(5.4);
SELECT * FROM transaction;